body {
  margin:0;
  font-family: sans-serif;

  background: url("https://images.pexels.com/photos/33368123/pexels-photo-33368123.jpeg");
  background-size: cover;

  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.app {
  width: 350px;
  background: rgba(255,255,255,0.9);
  padding:20px;
  border-radius:20px;
  text-align:center;
}

#card {
  font-size:30px;
  padding:40px;
  margin:20px;
  background:white;
  border-radius:15px;
}

button {
  padding:12px;
  margin:5px;
  width:100%;
  border:none;
  border-radius:10px;
  background:#ff5a5f;
  color:white;
  font-size:16px;
}

input, select {
  width:100%;
  padding:10px;
  margin:5px 0;
}
